body, html{
	padding:0px;
	margin:0px;
}

.header{
	height: 60px;
	color:white;
	padding-top:30px;
}

.footer{
	height:120px;
	width:100%;
    position: fixed;
    bottom: 0;
}

.my-icon-back
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 12%;
	height: auto;
}


p{
	font-family: Helvetica;
	text-align: center;
}

h1{
	margin:0px;
	padding:0px;
	text-align: center;
	font-family: Helvetica;
	text-transform: uppercase;
}

.turkos{
	background-color: #80FFEC;
}

.magenta{
	background-color: #ff4cff;
}

.grey{
	background-color:#C0C0C0;
}

.default{
	background-color: #1954a6;
}




